 .pauseBtn {
    float: right;
    width: 100px;
    box-shadow: rgb(230, 122, 115) 0px 39px 0px -24px inset;
    background-color: rgb(228, 104, 93);
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: rgb(178, 62, 53) 0px 1px 0px;
}

.bodyStyle{
    margin-left:10%;
    margin-top:2%;
    background-color:black
}

canvas{
    border:3px solid white;
}